<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/');
} %>

<div class="box">
<%#- messages() %>
<%- messages() %>

<%- individualMessage %>
<p>____________________________________________________</p><br><br>


<a href="/account/mark-read/<%- messageId %>"><button id="readButton">Mark As Read</button></a>
<a href="/account/reply-message/<%- messageId %>"><button id="readButton">Reply</button></a>
<a href="/account/delete-message/<%- messageId %>"><button id="readButton">Delete</button></a>
<a href="/account/archive-mesage/<%- messageId %>"><button id="readButton">Archive</button></a>
</div> 