<% if (title) { %>
    <h1><%= title %></h1>
    <%} else {
        res.redirect('/')
    } %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
    
    <div class="formPage">
    <div class="Form">
        
        <form action="/account/update-account" method="post">
            <h1> Update Information</h1>
            <p>*All fields are required*</p>

        <label for="fname"><b>First name:</b></label><br>
        <input type="text" id="fname" name="account_firstname" required value="<%= locals.accountData.account_firstname %>"><br><br>
        <label for="lname"><b>Last name:</b></label><br>
        <input type="text" id="lname" name="account_lastname" required value="<%= locals.accountData.account_lastname %>"><br><br>
        <label for="email"><b>Email:</b></label><br>
        <input type="email" id="email" name="account_email" required value="<%= locals.accountData.account_email %>"><br><br>
        <input class="subButton" type="submit" value="Update">
        <input type="hidden" name="inv_id"
<% if(locals.accountData.account_id) { %> value="<%= locals.accountData.account_id %>"
<% } %>>
      </form> 
</div>
</div>

<div class="formPage">
    <div class="Form">
        
        <form action="/account/update-account" method="post">
            <h1>Change Password</h1>
            <p class="red">*Note: entering a new password will change the current password*</p>
        <label for="password"><b>Password:</b></label><br>
        <input type="password" id="password" name="account_password" minlength="12" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required><br><br>
        <p>Passwords need to be a minimum of 12 characters and include:
            1 captial letter, 1 number and 1 special character
        </p>
        <input class="subButton" type="submit" value="Set New Password">
        <input type="hidden" name="inv_id"
<% if(locals.accountData.account_id) { %> value="<%= locals.accountData.account_id %>"
<% } %>>
      </form> 
</div>
</div>

<%- messages() %>

